// Variable SCSS

// Define breakpoints
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

// Create media queries variables
$mobile: "only screen and (max-width: #{$mobile})";
$tablet: "only screen and (max-width: #{$tablet})";
$laptop: "only screen and (max-width: #{$laptop})";
$desktop: "only screen and (max-width: #{$desktop})";


// Variables CSS
:root {
  --black: rgb(23, 23, 23);
  --grey-d: rgb(47, 47, 47);
  --grey: rgb(88, 88, 88);
  --grey-l: rgb(155, 155, 155);
  --white: rgb(245, 245, 245);
}
$links-count: 20;
$size-home: 30rem;
$size-home-res: 5rem;

