// Variable SCSS

// Variables CSS
:root {
  --black: rgb(23, 23, 23);
  --grey-d: rgb(47, 47, 47);
  --grey: rgb(88, 88, 88);
  --grey-l: rgb(155, 155, 155);
  --white: rgb(245, 245, 245);
}
$links-count: 20;
$size-home: 30rem;
$size-home-res: 5rem;
