@use "scss/variables" as *;
@use "scss/animation" as *;

html {
  font-size: 10px;

  body {
    font-size: 1.6rem;
    background-color: var(--black);
    color: var(--white);
    margin: 0;
    padding: 0;
    font-family: "Reddit Sans", serif;
    button{
      cursor: pointer;
    }
  }
}
