<section [ngClass]="{ show: show }" class="title">
  <h1>Le Paulet</h1>
</section>
<nav [ngClass]="{ show: show }">
  <a [routerLink]="['/music']" routerLinkActive="router-link-active">
    <img src="/music.jpg" alt="" />
    <span class="wrapper">
      <span> Musique </span>
    </span>
  </a>
  <!-- <a [routerLink]="['/photo']" routerLinkActive="router-link-active">
    <img src="/code.jpg" alt="" />
    <span class="wrapper">
      <span> Code </span>
    </span>
  </a> -->
  <a [routerLink]="['/photo']" routerLinkActive="router-link-active">
    <img src="/photo.jpg" alt="" />
    <span class="wrapper">
      <span> Photo </span>
    </span>
  </a>
</nav>
