@use "../../scss/mixins" as *;
@use "../../scss/variables" as *;

$gap: 0.5rem;
$animDuration: 2s;
$delay: 1s;
$bar_delay: 2 * $delay;
$offset: 0.5rem;

$animation_responsive_trigger: 1044px;
$responsive_animation: "only all and (max-width:" #{$animation_responsive_trigger}")";

:host {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  view-transition-name: homepage;
  @media #{$responsive_animation} {
    flex-direction: column;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--black);
    opacity: 0.65;
  }
  // -------------------------------------
  // Partie titre-------------------------
  // -------------------------------------
  section.title {
    $width: 45rem;
    position: absolute;
    left: calc(50% - calc(#{$width} / 2));
    top: 20rem;
    transition: 1s;
    opacity: 0.8;
    width: $width;
    z-index: 2;
    view-transition-name: home-title;
    @media #{$responsive_animation} {
      position: relative;
      top: 1rem;
      left: 0;
      margin: 5rem 0;
    }
    &.show {
      h1 {
        padding: 0 2rem;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        @media #{$responsive_animation} {
          clip-path: polygon(0 0, 190% 0, 95% 100%, 0 100%);
        }
      }
      &:after {
        width: 64%;
        right: 2.5rem;
        @media #{$mobile} {
          width: 47vw;
          right: 18vw;
        }
      }
    }
    &:after,
    &:before {
      content: "";
      display: block;
      background-color: var(--white);
      position: absolute;
    }
    &:after {
      border-radius: 1px;
      bottom: 3rem;
      height: 0.3rem;
      right: -2rem;
      transition-duration: 5s;
      transition-delay: 0 5s;
      transition-timing-function: cubic-bezier(0.35, 0.05, 0.1, 1.01);
      width: 0%;
      @media #{$mobile} {
        right: 14vw;
        bottom: 4vw;
      }
    }
    h1 {
      box-sizing: border-box;
      display: block;
      font-family: "Great Vibes", serif;
      font-size: 12rem;
      font-weight: normal;
      margin: 0;
      overflow: hidden;
      padding: 0;
      transition-duration: 4s;
      transition-timing-function: cubic-bezier(0.35, 0.05, 0.1, 1.01);
      width: 0;
      white-space: nowrap;
      @media #{$mobile} {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        transition-timing-function: ease;
        font-size: 20vw;
        width: 100%;
        text-align: center;
      }
    }
  }
  // -------------------------------------
  // FIN Partie titre-------------------------
  // -------------------------------------

  // -------------------------------------
  // Partie Liens-------------------------
  // -------------------------------------
  nav {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    gap: #{$gap * 2};
    @media #{$responsive_animation} {
      flex-direction: column;
    }
    a {
      @for $i from 1 through $links-count {
        &:nth-child(#{$i}) {
          view-transition-name: link-#{$i};
        }
        @media #{$responsive_animation} {
          &:nth-child(#{$i}) {
            view-transition-name: link-#{$i}-res;
          }
        }
      }
      width: 100%;
      position: relative;
      margin-left: 0px;
      overflow: hidden;
      animation: $animDuration forwards $delay n-slide-in;
      color: var(--white);
      @media #{$responsive_animation} {
        height: 60rem;
        animation: $animDuration forwards $delay n-slide-in-res;
      }
      &:first-child,
      &:last-child {
        width: 70%;
        border-left: 0;
        &:first-child {
          animation: $animDuration forwards $delay first-slide-in;
          view-transition-name: first-link;
          @media #{$responsive_animation} {
            view-transition-name: first-link-res;
          }
          .wrapper {
            left: 30%;
            @media #{$responsive_animation} {
              left: 50%;
              bottom: 50%;
            }
          }
        }
        &:last-child {
          animation: $animDuration forwards $delay last-slide-in;
          view-transition-name: last-link;
          @media #{$responsive_animation} {
            view-transition-name: last-link-res;
          }
          .wrapper {
            left: 61%;
            @media #{$responsive_animation} {
              left: 50%;
              bottom: 30%;
            }
          }
        }
        @media #{$responsive_animation} {
          width: 100%;
          height: 50rem;
          &:first-child {
            animation: $animDuration forwards $delay first-slide-in-res;
          }
          &:last-child {
            animation: $animDuration forwards $delay last-slide-in-res;
          }
        }
      }
      &:not(:last-child) {
        &:before {
          content: "";
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: var(--white);
          animation: forwards 0.5s border-first-slide-in,
            forwards 0.75s 1s shine-first;
          @media #{$responsive_animation} {
            animation: forwards 0.5s border-first-slide-in-res,
              forwards 0.75s 1s shine-first;
          }
          z-index: 1;
        }
      }
      @media #{$responsive_animation} {
        &:first-child {
          &:after {
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: var(--white);
            z-index: 1;
            animation: forwards 0.5s border-last-slide-in-res;
          }
        }
      }
      &:not(:first-child) {
        &:after {
          content: "";
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: var(--white);
          animation: forwards 0.5s border-last-slide-in,
            forwards 1s 1s shine-last;
          z-index: 1;
          @media #{$responsive_animation} {
            animation: forwards 0.5s border-last-slide-in-res,
              forwards 0.75s 1s shine-last;
          }
        }
      }
      &:hover,
      &:focus {
        span:not(.wrapper) {
          font-weight: 500;
          padding: 0 #{2 * $offset};
          &::before {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
          }
        }
        img {
          transform: scale(1.4);
          transition: transform 10s cubic-bezier(0, 0, 0, 0.5), opacity 2s;
          opacity: 0.7;
        }
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.3;
        transition: 1s;
      }
      .wrapper {
        font-size: 4rem;
        font-weight: 200;
        position: absolute;
        display: flex;
        justify-content: center;
        z-index: 2;
        bottom: 20rem;
        overflow: hidden;
        left: 40%;
        transform: translate(-50%);
        @media #{$responsive_animation} {
          left: 50%;
          bottom: 45%;
        }
        &:after {
          content: "";
          display: block;
          position: absolute;
          height: 0.1rem;
          width: 0;
          bottom: 0rem;
          background-color: var(--white);
          animation: 0.5s forwards $bar_delay span-after-slide-in;
        }
        span {
          transition: 0.2s;
          display: block;
          transform: translateY(100%);
          animation: 0.75s forwards #{$bar_delay + 0.2s} title-slide-in;
          &::before {
            content: "";
            width: calc(100% + #{2 * $offset});
            left: #{-1 * $offset};
            height: 100%;
            position: absolute;
            background-color: var(--black);
            opacity: 0.7;
            z-index: -1;
            transition: ease-out 0.2s;
            clip-path: polygon(0 100%, 100% 100%, 1000% 100%, 0 100%);
          }
        }
      }
    }
  }
  @keyframes title-slide-in {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes span-after-slide-in {
    0% {
      width: 0%;
      // transform: translate(50%);
    }
    100% {
      width: 100%;
      // transform: translate(0);
    }
  }

  @keyframes n-slide-in {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    to {
      clip-path: polygon(
        #{$size-home} 0,
        100% 0,
        #{calc(100% - #{$size-home})} 100%,
        0% 100%
      );
      margin-left: calc((-1 * #{$size-home}) + #{$gap});
    }
  }
  @keyframes first-slide-in {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    to {
      clip-path: polygon(
        0 0,
        100% 0,
        #{calc(100% - #{$size-home})} 100%,
        0% 100%
      );
    }
  }
  @keyframes last-slide-in {
    from {
      margin-left: 0;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    to {
      clip-path: polygon(#{$size-home} 0, 100% 0, 100% 100%, 0% 100%);
      margin-left: calc((-1 * #{$size-home}) + #{$gap});
    }
  }

  @keyframes n-slide-in-res {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    to {
      clip-path: polygon(
        0 #{$size-home-res},
        100% 0,
        100% #{calc(100% - #{$size-home-res})},
        0% 100%
      );
      margin-top: calc((-1 * #{$size-home-res}) + #{$gap});
    }
  }
  @keyframes first-slide-in-res {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    to {
      clip-path: polygon(
        0 0,
        100% 0,
        100% #{calc(100% - #{$size-home-res})},
        0% 100%
      );
    }
  }
  @keyframes last-slide-in-res {
    from {
      margin-left: 0;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    to {
      clip-path: polygon(0 #{$size-home-res}, 100% 0, 100% 100%, 0% 100%);
      margin-top: calc((-1 * #{$size-home-res}) + #{$gap});
    }
  }

  @keyframes shine-first {
    0% {
      opacity: 0.2;
      clip-path: polygon(-76% 0, -20% 0, 0% 100%, -56% 100%);
    }
    100% {
      opacity: 0.2;
      clip-path: polygon(106% 0, 150% 0, 170% 100%, 126% 100%);
    }
  }

  @keyframes shine-last {
    0% {
      opacity: 0.2;
      clip-path: polygon(170% 0, 126% 0, 106% 100%, 150% 100%);
    }
    100% {
      clip-path: polygon(-20% 0, -76% 0, -56% 100%, 0% 100%);
      opacity: 0.2;
    }
  }

  @keyframes border-first-slide-in {
    $width: 0.2rem;
    0% {
      clip-path: polygon(
        calc(100% - $width) -100%,
        100% -100%,
        100% 0,
        calc(100% - $width) 0
      );
    }
    100% {
      clip-path: polygon(
        calc(100% - $width) 100%,
        100% 100%,
        100% 200%,
        calc(100% - $width) 200%
      );
    }
  }

  @keyframes border-last-slide-in {
    $width: 0.2rem;
    0% {
      clip-path: polygon(0 100%, $width 100%, $width 200%, 0 200%);
    }
    100% {
      clip-path: polygon(0 -100%, $width -100%, $width 0, 0 0);
    }
  }

  @keyframes border-first-slide-in-res {
    $width: 0.2rem;
    0% {
      clip-path: polygon(
        100% calc(100% - $width),
        200% calc(100% - $width),
        200% 100%,
        100% 100%
      );
    }
    100% {
      clip-path: polygon(
        -100% calc(100% - $width),
        0 calc(100% - $width),
        0 100%,
        -100% 100%
      );
    }
  }

  @keyframes border-last-slide-in-res {
    $width: 0.2rem;
    0% {
      clip-path: polygon(-100% 0, 0 0, 0 $width, -100% $width);
    }
    100% {
      clip-path: polygon(100% 0, 200% 0, 200% $width, 100% $width);
    }
  }
  @keyframes margin-left-slide-in {
    from {
      margin-left: 0;
    }
    to {
      margin-left: calc((-1 * #{$size-home}) + #{$gap});
    }
  }
  // -------------------------------------
  // FIN Partie titre-------------------------
  // -------------------------------------
}
